.tag-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  cursor: pointer;

  background: #eff2f5;
  padding: 8px;
  gap: 4px;
  border-radius: 8px;

  /* font-family: Inter; */
  font-size: 12px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .tag-container {
    display: none;
  }
}
